html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: calc(100% - 96px);
  background-image: url("../images/bg2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  background-color: white;
  opacity: 70%;
  position: relative;
  margin: 48px calc((100vw - 700px)/2);
  height: 100%;
}

h1 {
  font-size: 60px;
  color: #181818;
  text-align: center;
  margin: 0 auto;
  padding: 84px 12px;
  width: 600px;
  text-shadow: 3px 3px 1px #6f6f6f;
}

#peptalk-generator {
  padding: 42px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

#peptalk {
  padding: 84px 12px 64px 12px;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  min-height: 576px;
}


#peptalk1 {
  color: #FC90E4;
}


#peptalk2 {
  color: #3DC5EE;
}


#peptalk3 {
  color: #FC90E4;
}


#peptalk4 {
  color: #3DC5EE;
}


/* Larger screens */
@media screen and (min-width: 1100px) {
  #main {
    position: relative;
    margin: 48px 32px;
    height: 100%;
  }

  h1 {
    font-size: 48px;
    padding: 64px 12px;
    width: calc(100% - 24px);
  }

  #peptalk-generator {
    width: 100%;
  }

  #peptalk {
    padding: 84px 12px 24px 12px;
    font-size: 24px;
    min-height: 96px;
  }

  #peptalk p {
    display: inline-block;
  }
}


/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 95%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}